.button {
    /* Regular button styles */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    /* Hover effect styles */
    background-color: #FFFFFF;
    color: black;
  }
  