@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .center-screen {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
  }
}
